<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active myFont mySize">Planètes.ch</a>
    </div>
    <div>
      <ul class="nav navbar-nav mySize2">
        <li><a class="clikable" routerLink="/home">Home</a></li>
        <li><a class="clikable" routerLink="/planetes">
          <span><i class="fa fa-globe"></i></span>
          Liste des planètes</a></li>
        <li *ngIf="isAdmin()"><a class="clikable" routerLink="/users">Utilisateurs</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right mySize2">
      <li *ngIf="!isAuthenticated()"><a class="clikable" routerLink="/user/login">
        <span class="glyphicon glyphicon-user"></span> Connexion </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right mySize2">
      <li *ngIf="isAuthenticated()" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{getUserConnected()}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clikable" (click)="onLogout()">Déconnexion</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

